<main class="main flex-col px-[10%] pt-24">
  <div class="relative self-start dark:bg-gray-700 bg-gray-200 p-1 transition-[height,width] duration-1000 flex rounded-full"
    [ngClass]="{
      'rounded-lg w-full [transition:height_500ms,width_500ms,border_radius_100ms_100ms]': isHelpSelected,
      'w-[33px] [transition:height_1s,width_1s,border-radius_100ms_900ms]': !isHelpSelected
    }"
    [ngStyle]="getHelpContainerStyle()">
    <ng-icon
      size="25"
      [name]="isHelpSelected ? 'featherXCircle' : 'featherHelpCircle'"
      [ngClass]="{
        'rotate-90': isHelpSelected,
        'rotate-0': !isHelpSelected
      }"
      class="!overflow-visible cursor-pointer active:text-green-500 transition-all"
      (click)="onToggleHelp()" [title]="'PROJECTS.MOREINFO' | translate">
    </ng-icon>
    <p
      [ngClass]="{
        'opacity-100 visible transition-opacity': isHelpSelected,
        'opacity-0 invisible transition-none': !isHelpSelected
      }" class="absolute ml-[calc(25px+0.5rem)] w-[calc(80vw-25px-1.5rem)] p-2 delay-[800ms]" [innerHTML]="'PROJECTS.DESCRIPTION' | translate" id="help-text-description">
    </p>
  </div>
  <h2 class="mb-6 mt-2 w-full">{{ 'PROJECTS.INFOSELECT' | translate }}</h2>
  <div class="flex items-start sm:flex-row flex-col-reverse">
    <div class="flex gap-4 flex-wrap mb-8">
      <button
        *ngFor="let but of buttons"
        (click)="onButtonClicked($event, but)"
        [ngClass]="{
          'bg-green-500 hover:!bg-green-500 text-white': but.selected
        }"
        class="text-nowrap py-1 px-2 rounded border border-green-500 hover:bg-green/40"
      >{{ but.name | translate }}</button>
    </div>
    <button
      [ngClass]="{
        'text-white cursor-pointer border-green-600 bg-green-500/70': hasSelections(),
        'text-gray-400 cursor-default border-gray-400': !hasSelections()
      }"
      class="text-nowrap sm:ml-8 mb-6 sm:mb-0 p-2 border rounded"
      (click)="clearSelections()"
    >{{ 'PROJECTS.ERASESELECTION' | translate }}</button>
  </div>
  <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 justify-center">
    <project-card
      *ngFor="let project of getFilteredProjects()"
      [project]="project"
      [selectedTechnos]="selected"
    ></project-card>
  </div>
  <div *ngIf="selected.length === 0">
    <h2 class="py-8" id="thirdyear">{{ 'PROJECTS.EPI3Y' | translate }}</h2>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 justify-center">
      <project-card
        *ngFor="let project of getThirdYearProjects()"
        [project]="project"
        [selectedTechnos]="selected"
      ></project-card>
    </div>
    <h2 class="py-8" id="secondyear">{{ 'PROJECTS.EPI2Y' | translate }}</h2>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 justify-center">
      <project-card
        *ngFor="let project of getSecondYearProjects()"
        [project]="project"
        [selectedTechnos]="selected"
      ></project-card>
    </div>
    <h2 class="py-8" id="firstyear">{{ 'PROJECTS.EPI1Y' | translate }}</h2>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 justify-center">
      <project-card
        *ngFor="let project of getFirstYearProjects()"
        [project]="project"
        [selectedTechnos]="selected"
      ></project-card>
    </div>
  </div>
</main>