<app-navbar>
  <!-- Language selector -->
  <ng-container language>
    <div class="flex gap-2 items-center p-3 mb-2 rounded-lg sm:w-44 w-24 group-hover:dark:bg-black/40 group-hover:bg-black/20 transition">
      <img class="h-8 w-8" [src]="selectedLanguage().svgPath" />
      <span class="sm:block hidden">{{ selectedLanguage().name }}</span>
      <ng-icon size="30" name="featherChevronUp" class="group-hover:rotate-180 transition ml-auto"></ng-icon>
    </div>
    <ul class="group-hover:opacity-100 opacity-0 group-hover:pointer-events-auto pointer-events-none absolute p-1 rounded-lg sm:w-44 w-24 dark:bg-gray-700 bg-gray-200 transition">
      <li
        *ngFor="let language of languageOptions"
        class="flex gap-2 items-center p-2 hover:bg-black/20 rounded-lg cursor-pointer sm:justify-normal justify-center"
        [ngClass]="{
          'hidden': language.name == selectedLanguage().name
        }"
        (click)="switchLanguage(language)"
      ><img class="h-8 w-8" [src]="language.svgPath" /><span class="sm:block hidden">{{ language.name }}</span></li>
    </ul>
  </ng-container>
  <!-- Light/Dark mode selector -->
  <ng-container slider>
    <label id="switch" class="switch" for="slider">
      <input type="checkbox" [(ngModel)]="darkMode" (change)="onSwitchDark()" name="slider" id="slider"/>
      <span class="slider round"></span>
    </label>
  </ng-container>
</app-navbar>

<div class="main main-container">
  <div class="parallax">
    <!-- Planets -->
    <div class="planets-background">
      <div class="ml-[90%] mt-[10%] h-[35vw] w-[35vw] rounded-full before:xl:-left-14 before:lg:-left-10 before:md:-left-8 before:sm:-left-6 before:-left-4 planet dark:after:bg-radial-gradient-[#000_62%,#22C55E_68%,#fff_74%] after:bg-radial-gradient-[#fff_62%,#22C55E_68%,#fff_74%] grayscale dark:grayscale-0"></div>
      <div class="ml-[75%] mt-[3%] h-[5vw] w-[5vw] rounded-full before:xl:-left-3 before:lg:-left-10 before:md:-left-8 before:sm:-left-6 before:-left-4 planet moon before:content-none dark:after:bg-radial-gradient-[#000_53%,#22C55E_68%,#fff_74%] after:bg-radial-gradient-[#fff_53%,#22C55E_68%,#fff_74%] grayscale dark:grayscale-0"></div>
    </div>
    <!-- Crab Nebula -->
    <img src="assets/crab_nebula.png" class="absolute -left-[80%] top-[60%] h-[30vw] w-[30vw] nebula grayscale dark:grayscale-0" alt="Crab Nebula" />
    <!-- Stars -->
    <div class="stars-background-1 invert dark:invert-0"></div>
    <div class="stars-background-2 invert dark:invert-0"></div>
    <div class="stars-background-3 invert dark:invert-0"></div>
    <!-- Content -->
    <router-outlet></router-outlet>
  </div>
</div>