@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #fff;
  /* overflow: hidden; */
}

h1 {
  font-size: xx-large;
}

h2 {
  color: #16A34A;
  font-weight: 700;
  font-size: x-large;
}

h3 {
  color: gray;
  font-weight: 700;
  font-size: large;
}

.main-container {
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  overflow-x: hidden;
  perspective: 20px;
}

.parallax {
  position: relative;
  transform-style: preserve-3d;
}

.planets-background {
  position: absolute;
  transform: translateZ(-10px) scale(1.5);
  width: 100%;
}

.planet {
  transform: translateZ(-10px) scale(1.5);
}

.planet::before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background: radial-gradient(#fff 40%, #22C55E 58%, transparent 71%);
}

.planet::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -1px;
  clip-path: circle(34% at 34% center);
}

.planet.moon::after {
  clip-path: circle(33% at 63% 40%);
}

.nebula {
  transform: translateZ(-40px) scale(3);
}

.stars-background-1 {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  transform: translateZ(-20px) scale(2);
  background-repeat: repeat;
  background-image: url("assets/background1.png");
}

.stars-background-2 {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  transform: translateZ(-15px) scale(1.75);
  background-repeat: repeat;
  background-image: url("assets/background2.png");
}

.stars-background-3 {
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  transform: translateZ(-25px) scale(2.25);
  background-repeat: repeat;
  background-image: url("assets/background3.png");
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 10%;
  box-sizing: inherit;
  position: relative;
}

a {
  outline: none;
}

.growing-underline {
  position: relative;
  text-decoration: none;
}

.growing-underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  transition: transform 0.3s ease;
  transform: scaleX(0);
}

.growing-underline:hover::before {
  transform: scaleX(1);
}

.link {
  position: relative;
  text-decoration: none;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 1px;
  bottom: -2px;
  left: 0;
  transition: width 0.5s;
}

.selectable-with-child:hover > .link::before {
  width: 100%;
}

.phone-parent:hover > ng-icon {
  animation: ring 4s .7s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes ring {
  0% { transform: rotate(0); }
  5% { transform: rotate(30deg); }
  10% { transform: rotate(-28deg); }
  15% { transform: rotate(34deg); }
  20% { transform: rotate(-32deg); }
  25% { transform: rotate(30deg); }
  30% { transform: rotate(-28deg); }
  35% { transform: rotate(26deg); }
  40% { transform: rotate(-24deg); }
  45% { transform: rotate(22deg); }
  50% { transform: rotate(-20deg); }
  55% { transform: rotate(18deg); }
  60% { transform: rotate(-16deg); }
  65% { transform: rotate(14deg); }
  70% { transform: rotate(-12deg); }
  75% { transform: rotate(10deg); }
  80% { transform: rotate(-8deg); }
  85% { transform: rotate(6deg); }
  90% { transform: rotate(-4deg); }
  95% { transform: rotate(2deg); }
  100% { transform: rotate(-1deg); }
}

@layer utilities {
  .dark h2 {
    color: #22C55E
  }
  .dark h3 {
    color: rgb(209 213 219)
  }
  .dark .main {
    color: rgb(212 212 212)
  }

  .dark, html {
    background-color: #000;
  }
}

@media screen(sm) {
  main {
    padding: 1rem 20%;
  }
}