@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: xx-large;
}

h2 {
  color: #16A34A;
  font-weight: 700;
  font-size: x-large;
}

h3 {
  color: gray;
  font-weight: 700;
  font-size: large;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 10%;
  box-sizing: inherit;
  position: relative;
}

a {
  outline: none;
}

#stars {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0px;
}

.growing-underline {
  position: relative;
  text-decoration: none;
}

.growing-underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  transition: transform 0.3s ease;
  transform: scaleX(0);
}

.growing-underline:hover::before {
  transform: scaleX(1);
}

@layer utilities {
  .dark h2 {
    color: #22C55E
  }
  .dark h3 {
    color: rgb(209 213 219)
  }
  .dark .main {
    color: rgb(212 212 212)
  }
}

@media screen(sm) {
  main {
    padding: 1rem 20%;
  }
}