@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: xx-large;
}

h2 {
  color: gray;
  font-weight: 700;
  font-size: x-large;
}

h3 {
  color: gray;
  font-weight: 700;
  font-size: large;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 20%;
  box-sizing: inherit;
  position: relative;
}

a {
  outline: none;
}

#stars {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0px;
}

@layer utilities {
  .dark h2 {
    color: rgb(34 197 94)
  }
  .dark h3 {
    color: rgb(209 213 219)
  }
  .dark .main {
    color: rgb(212 212 212)
  }
}