<main class="content flex flex-col">
  <div class="flex sm:flex-row flex-col items-center">
    <div class="sm:h-80 sm:w-80 h-48 w-48 rounded-full overflow-hidden relative">
      <!-- <img src="https://placehold.co/300x400"/> -->
      <img src="assets/photo_pro.jpg" class="w-auto -mt-[20%]" alt="Photo de profil"/>
    </div>
    <div class="sm:w-[30vw] w-[80vw] sm:mt-0 mt-8 sm:ml-8 md:ml-4 flex flex-col justify-center text-center">
      <h1>Arthur Croix</h1>
      <h2>Développeur Full Stack</h2>
      <p class="mx-16 mt-4">Ouverture d'esprit - Dynamique - Polyvalent - Curieux - Organisé - Assidu - Sens de l'écoute</p>
    </div>
  </div>
  <div class="flex gap-8 mt-8 sm:flex-row flex-col">
    <div class="flex-1">
      <h2 class="mb-2">Profil</h2>
      <p class="text-lg">Je suis actuellement en recherche d'un <strong>CDD ou CDI</strong> pour Septembre 2024 dans le domaine du développement mobile, web ou desktop.<br/>
        Le poste de chef de projet m'intéresse grandement, mais je reste ouvert à tout poste de développement informatique.<br/><br/>
        Mes expériences professionnelles m'ont permis de m'épanouir dans l'environnement Web et Mobile en tant que Full Stack. J'en ait acquis par la même occasion des compétences en communication, management et organisation.<br/>
        Pour des informations complémentaires, n'hésitez pas à me contacter par téléphone ou par mail.
      </p>
    </div>
    <div class="flex-1">
      <h2 class="mb-2">Contact</h2>
      <ul class="flex flex-col gap-2 text-gray-500 dark:text-gray-400">
        <li class="flex gap-2 items-center"><ng-icon name="featherMapPin" class="!overflow-visible"></ng-icon><p>Nantes 44000, <strong>FRANCE</strong></p></li>
        <li class="flex gap-2 items-center"><ng-icon name="featherMail" class="!overflow-visible"></ng-icon><a class="link dark:before:bg-gray-400 before:bg-gray-500" href="mailto:arthur.croix.pro@gmail.com">arthur.croix.pro&#64;gmail.com</a></li>
        <li class="flex gap-2 items-center"><ng-icon name="featherLinkedin" class="!overflow-visible"></ng-icon><a class="link dark:before:bg-gray-400 before:bg-gray-500" href="http://www.linkedin.com/in/arthur-croix">www.linkedin.com/in/arthur-croix</a></li>
        <li class="flex gap-2 items-center"><ng-icon name="featherPhone" class="!overflow-visible"></ng-icon><p>+33 7 68 24 84 17</p></li>
      </ul>
      <h2 class="mb-2 mt-6">Certifications</h2>
      <ul class="flex flex-col gap-2 text-gray-500 dark:text-gray-400">
        <li class="flex gap-2 items-center"><ng-icon name="featherCreditCard" class="!overflow-visible"></ng-icon><p>Permis B</p></li>
      </ul>
    </div>
  </div>
  <div class="flex gap-8 mt-8 sm:flex-row flex-col">
    <history-list
      class="flex-1"
      [title]="formations.title"
      [contents]="formations.content"
    ></history-list>
    <history-list
      class="flex-1"
      [title]="experiences.title"
      [contents]="experiences.content"
    ></history-list>
  </div>
  <h2 class="m-10">Compétences informatiques</h2>
  <div class="flex sm:gap-16 gap-8 flex-wrap justify-center">
    <competencies
      title="Front End Web"
      [competencies]="compFrontWeb"
    ></competencies>
    <competencies
      title="Front End Mobile"
      [competencies]="compFrontMobile"
    ></competencies>
    <competencies
      title="Back End"
      [competencies]="compBack"
    ></competencies>
    <competencies
      title="Bases de données"
      [competencies]="compDatabases"
    ></competencies>
    <competencies
      title="Autres"
      [competencies]="compOthers"
    ></competencies>
  </div>
  <h2 class="m-10">Langues parlées</h2>
  <ul>
    <li class="flex gap-8"><h3 *ngFor="let language of languages">{{ language }}</h3></li>
  </ul>
  <h2 class="m-10">Autres compétences</h2>
  <ul class="flex sm:gap-16 gap-8 flex-wrap justify-center">
    <li><h3 *ngFor="let competency of compPro">{{ competency }}</h3></li>
  </ul>
  <h2 class="m-10">Recommendations</h2>
  <div class="grid sm:grid-cols-2 grid-cols-1 gap-4 w-full">
    <recommendation
      *ngFor="let recommendation of recommendations"
      [recommendation]="recommendation"
    ></recommendation>
  </div>
</main>